block content

    h1 name: #{user.name}
    p email: #{user.email}
    p age: #{user.age}

    p
        a(href="/users/#{user.name}/edit") Edit Profile
    p
        form(action="/users/#{user.name}", method="POST")
            input(type="hidden", name="_method", value="DELETE")
            button(type="submit") Delete